<div class="modal-dialog">
    <div class="modal-content">
        {% if object %}
        <form role="form" action="{% url 'editar_centro' object.pk %}" method="post">
        {% else %}
        <form role="form" action="{% url 'nuevo_centro' %}" method="post">
        {% endif %}
            <div class="modal-header">
                <h3>
                    {% if form.initial.nombre %}
                        {{ form.initial.nombre }}
                    {% else %}
                        Nuevo Centro
                    {% endif %}
                </h3>
            </div>
            {% csrf_token %}
            <div class="modal-body">
                <div class="detalles">
                    {% if form.initial.nombre %}
                        <p style="color: gray;"><b>Titular: </b> {{ form.text_titular }}</p>
                    {% endif %}
                    {{ form.as_p }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <button type="submit" class="save btn btn-primary" title="Guardar">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>