{% load staticfiles %}

<script type="text/javascript">
    hide_select() {
        // hide nodes function
    }
</script>
<div class="modal-dialog">
    <div class="modal-content">
        {% if object %}
            <form role="form" action="{% url 'editar_licencia' object.pk %}" method="post">
        {% else %}
            <form role="form" action="{% url 'nueva_licencia' form.initial.servicio %}" method="post">
        {% endif %}
        <div class="modal-header">
            <h3>
                {% if form.initial.numero %}
                    {{ form.initial.numero }}
                {% else %}
                    Nueva Licencia
                {% endif %}

            </h3>
        </div>
        {% csrf_token %}
        <div class="modal-body">
            <div class="detalles">
                    <script>hide_select();</script>
                    <script>alert({{ form.as_p }});</script>
                <p style="color: gray;"><b>Servicio: </b> {{ form.text_servicio }}</p>
                {{ form.as_p }}
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                Añadir incidencia??
                <button type="submit" class="save btn btn-primary" title="Guardar">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>