{% extends 'sfmpr/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="top-menu">
        <h1> <a href="{% url 'ver_centro' pk=centro.pk %}">{{ centro }}</a> > Servicios
        <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'nuevo_servicio' fk=centro.pk %}';" title="Añadir nuevo">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <!-- Poner este botón en otras listas
        <button type="button" class="btn btn-primary" onclick="#">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        -->
        </h1>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servicios</th>
                    <th>Nº IR (Expte.)</th>
                    <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for s in servicios %}
                    <tr>
                        <td>
                            <a href="{% url 'ver_servicio' pk=s.pk %}">
                                {{ s.nombre }}
                            </a>
                        </td>
                    <td>{{ s.codigo_completo }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'ver_servicio' pk=s.pk %}';" title="Ver datos">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'editar_servicio' pk=s.pk %}';" title="Editar datos">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'lista_equipos' fk=s.pk %}';" title="Equipos">
                            <img src="{% static 'images/equipos.svg' %}"> &nbsp; <span class="badge">{{ s.equipos }}</span>
                        </button>
                        <button type="button" class="btn btn-primary disabled" title="Dosímetros">
                            <span class="glyphicon glyphicon-tags"></span>
                        </button>
                        <button type="button" class="btn btn-primary disabled" title="Licencias">
                            <span class="glyphicon glyphicon-credit-card"></span>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}