{% extends 'sfmpr/base.html' %}

{% block content %}
    <div class="top-menu">
        <h1>
            {% if form.initial.nombre %}
                {{ form.initial.nombre }}
            {% else %}
                Nuevo Centro
            {% endif %}
        </h1>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="save btn btn-primary" title="Guardar">
        <span class="glyphicon glyphicon-save"></span>
    </button>
    </form>

{% endblock %}
