<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otros</title>
    <style type="text/css">
        h3.warning {
            color: red;
            text-align: center;
        }
    </style>
</head>
<body>
    <h3 class="warning"> Esta página no tiene contenido. Has llegado hasta aquí utilizando una de las herramientas empleadas en la fase de desarrollo.
        <br>
        Esto no una buena señal, estas herramientas pueden producir efectos indeseados en la base de datos.
        <br>
        ¡¡Te recomiendo verificar su integridad!!
    </h3>
    <hr>
    <h1>{{ mensaje.titulo }}</h1>
    {{ mensaje.descripcion }}
</body>
</html>