{% load staticfiles %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3> {{ centro.nombre }}
                <button type="button" class="btn btn-primary" onclick="return abrir_modal('{% url 'editar_centro' pk=centro.pk %}')" title="Editar datos">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h3>
        </div>
        <div class="modal-body">
            <div class="detalles">
                {% for key, value in datos.items %}
                    <p><b>{{ key }}: </b> {{ value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
