{% extends 'sfmpr/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="top-menu">
        <h1>
            <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'lista_equipos' fk=equipo.servicio.pk %}';" title="Volver a Equipos">
                <img src="{% static 'images/equipos.svg' %}"> &nbsp; <span class="glyphicon glyphicon-triangle-left"></span>
            </button>
            {{ equipo.sala }}
            <button type="button" class="btn btn-primary" title="Incidencias">
                <span class="glyphicon glyphicon-flash"></span>
            </button>
        </h1>
    </div>
    <div class="detalles">
    {% for key, value in datos.items %}
        <p><b>{{ key }}: </b> {{ value }}</p>
    {% endfor %}
    </div>

{% endblock %}
